.custom-content {
    min-height: 75vh;
}

.img-not-found {
    width: 15rem;
    height: auto;
}

.bounce-tracking-spinner .main-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.bounce-tracking-spinner .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0.2;
}
.gmail-config p, .gmail-config ol li, .gmail-config ul li{
    font-size: 0.827rem;
}

.action-icon-hover:hover{
    color: #1F2937 !important;
}

.fs-827{
    font-size: 0.827rem !important;
}

.text-break{
    white-space: inherit !important;
}

.mail-content-view, .form-field-view {
    background-color: #F2F4F6;
    display: block;
    padding: 0.5rem 0.827rem;
    color: inherit;
    border-radius: 8px;
    /*box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;*/
}

.mail-content-view p {
    font-size: 0.827rem;
}

.badge-custom{
    padding: 0.3rem 0.6rem;
}
