.custom-content {
    min-height: 75vh;
}

.img-not-found {
    width: 15rem;
    height: auto;
}

.bounce-tracking-spinner .main-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.bounce-tracking-spinner .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0.2;
}
